.ToastRoot {
  @apply grid min-w-[284px] max-w-sm grid-cols-[1fr_0.25fr] content-between items-center gap-2 rounded-lg border-1 bg-npa-neutral-25 p-2 shadow-toast;
}

.ToastRoot[data-state="open"] {
  -webkit-animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state="closed"] {
  -webkit-animation: hide 100ms ease-in;
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
  -webkit-animation: swipeOut 100ms ease-out;
  animation: swipeOut 100ms ease-out;
}

.ToastViewport {
  @apply fixed bottom-0 right-0 z-[9999] m-10 flex max-w-[100vw] list-none flex-col gap-5 p-5 outline-none;
  --viewport-padding: 25px;
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}
